body {
    width:100%;
    margin:10px;
    background-color: ccc; 
}

#cookieBanner {
    position: absolute;
    left: 25%;
    display: none;
    font-size: 14px;
    width: 50%;
    margin: 0px auto;
    padding: 12px;
    background-color: #ddd;
    border-bottom: solid 1px #ccc;
    z-index: 100000;
}
#cookieBannerClose {
    float: right;
    font-weight: bold;
    padding: 4px;
}
#cookieBannerActions {
    text-align: center;
    padding-top: 4px;
}

.pregame-teams{
    margin: 10px;
}

.team {
    margin:10px auto;
    height: 50px;
    vertical-align: middle;
}

.icon {
    height: 24px;
}

.helmet {
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.helmet:hover {
    text-decoration: none;
    background-color: #ff00ff;
    width: 24px;
    height: 24px;
}

.selected {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.black {
    fill: #000;
}

.blue {
    fill: #307DDB;
}

.green {
    fill: #538530;
}

.pink {
    fill: #DE33DE;
}

.red {
    fill: #D80027;
}

.white {
    fill: #fff;
}

.credits {
    position: absolute;
    bottom: 1%;
}